* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/******************************************************
------------------------ HEADER -----------------------
******************************************************/
header {
  height: 2em;
  border-radius: 0 0 0.2em 0.2em;
  background: #222222; }
  header #title {
    display: inline-block;
    width: 3em;
    padding-left: 1em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: white;
    font-weight: bold; }
  header #balance {
    position: absolute;
    width: 100%;
    top: 0;
    color: #dddddd;
    line-height: 2em;
    text-align: center; }
  header #deconection{
    float: right;
    margin-right: 1em;
    margin-top: .1em;
    height: 8em;
  }
  header #deconection a{
    position: absolute;
    right: 1em;
    padding: .4em;
    background: #337AB7;
    text-decoration: none;
    color: #dddddd;
    line-height: .4em;
    font-size:1em;
    border: .2em solid #337AB7;
    border-radius: .4em;
  }

/******************************************************
------------------------ CONTAINER -----------------------
******************************************************/
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3em; }
  #container #zone_gauche {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #container #zone_gauche .panel {
      width: 100%;
      display: inline-block;
      margin-top: .5em;
      border: 0.1em solid #337AB7;
      border-radius: .1em; }
      #container #zone_gauche .panel .panel_title {
        padding: .5em 0 .5em 0;
        background: #337AB7;
        text-align: center;
        font-weight: bold;
        color: #ddd; }
      #container #zone_gauche .panel .panel_content {
        margin: .5em;
        position: relative; }
        #container #zone_gauche .panel .panel_content .progress {
          position: relative;
          height: 2em;
          border: 0.1em solid #337AB7;
          border-radius: .1em; }
          #container #zone_gauche .panel .panel_content .progress .progress-bar {
            position: absolute;
            height: 1.9em;
            width: 90%;
            background: #285f8f;
            border-radius: .1em; }
            #container #zone_gauche .panel .panel_content .progress p {
              color: white;
              text-align: center;
              height: 1.9em;
              line-height: 1.9em;
              font-size: 1rem; }
        #container #zone_gauche .panel .panel_content span {
          position: absolute;
          margin-top: 1.5em;
          font-size: .75em; }
        #container #zone_gauche .panel .panel_content a.btn {
          cursor: pointer;
          display: inline-block;
          margin-left: 10%;
          width: 80%;
          height: 1.5em; }
        #container #zone_gauche .panel .panel_content a.btn-right {
          cursor: pointer;
          padding: .4em;
          height: 2.5em;
          float: right;
          margin: .4em; }
        #container #zone_gauche .panel .panel_content a.btn-right,
        #container #zone_gauche .panel .panel_content a.btn {
          margin-top: .4em;
          display: inline-block;
          text-decoration: none;
          background: #337AB7;
          border: 0.1em solid #337AB7;
          border-radius: .1em;
          text-align: center;
          color: white; }
          #container #zone_gauche .panel .panel_content a.btn-right[disabled],
          #container #zone_gauche .panel .panel_content a.btn[disabled] {
            pointer-events: none;
            cursor: default;
            background: none;
            border-color: #ccc;
            color: #ccc; }
  #container #main {
    width: 80%;
    padding: .1em .2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    #container #main #animation {
      border: 0.1em solid #337AB7;
      background: silver;
      width: 60%;
      height: 40vw; }
    #container #main #amelioration {
      width: 40%; }
      #container #main #amelioration .title {
        height: 2em;
        background: #337AB7;
        text-align: center;
        line-height: 2em;
        color: white;
        text-transform: capitalize;
        border-radius: .4em .4em  0em 0em; }
      #container #main #amelioration .content {
        border: 0.1em solid #337AB7;
        border-top: none;
        padding: .3em 10%; }
        #container #main #amelioration .content #diponible {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
        #recruter,#plan_construction,#transfert_connaissance,universite_shadok{
          cursor: pointer !important;
        }
        #container #main #amelioration .content .panel {
          width: 100%;
          display: inline-block;
          margin-top: .5em;
          border: 0.1em solid #337AB7;
          border-radius: .1em; }
          #container #main #amelioration .content .panel .panel_title {
            padding: .5em 0 .5em 0;
            background: #337AB7;
            text-align: center;
            font-weight: bold;
            color: #ddd; }
          #container #main #amelioration .content .panel .panel_content {
            margin: .5em;
            position: relative; }
            #container #main #amelioration .content .panel .panel_content span {
              font-size: .9em;
              line-height: .9em; }
              #container #main #amelioration .content .panel .panel_content span:after {
                content: '?';
                display: inline-block;
                width: 1em;
                padding: .5em;
                border: 0.1em solid #337AB7;
                font-size: .9em;
                text-align: center;
                float: right;
                color: #337AB7;
                margin-bottom: .4em;
              }
          #container #main #amelioration .content .panel[disabled] {
            border-color: silver;
            cursor: default !important;
          }
            #container #main #amelioration .content .panel[disabled] > .panel_title {
              background: silver; }
            #container #main #amelioration .content .panel[disabled] > .panel_content > span {
              color: silver; }
              #container #main #amelioration .content .panel[disabled] > .panel_content > span:after {
                border-color: silver;
                color: silver; }

/******************************************************
------------------------ FOOTER -----------------------
******************************************************/
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  background: #222222;
  text-align: center;
  line-height: 3em;
  color: white; }

/******************************************************
------------------ Mobile Verision --------------------
******************************************************/
@media (max-width: 320px) {
  body {
    width: 320px; }
  header #balance{
    font-size: .8em;
    line-height: 2.4em;
  }
  header a#deconectionLink{
    width: 6em;
    height: 2em;
    margin-top: .1em;
    font-size: .8em;
    line-height: .7em;

  }
  #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #container #zone_gauche {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      #container #zone_gauche .panel {
        width: 49%; }
        #container #zone_gauche .panel .panel_title {
          font-size: .8em;
          height: 1.5em;
          line-height: .8em;
          padding: .2em; }
        #container #zone_gauche .panel .panel_content p {
          font-size: .9em; }
        #container #zone_gauche .panel .panel_content .progress {
          height: 1em; }
          #container #zone_gauche .panel .panel_content .progress .progress-bar {
            height: .9em;
            width: 90%; }
            #container #zone_gauche .panel .panel_content .progress p {
              position: absolute;
              line-height: 1em;
              font-size: .9rem;
              width: 100%;

            }
        #container #zone_gauche .panel .panel_content a.btn {
          width: 100%;
          margin-left: 0; }
        #container #zone_gauche .panel .panel_content a.btn-right {
          margin: .1em;
          margin-top: .7em;
          padding: .05em .5em .05em .5em;
          height: 1.5em;
          font-size: 1em; }
        #container #zone_gauche .panel .panel_content span {
          margin-left: .2em;
          font-size: .65em;
          line-height: 2em}
    #container #main {
      width: 100%;
      padding: .4em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #container #main #animation {
        width: 100%;
        height: 40vw;
        margin-bottom: .4em; }
      #container #main #amelioration {
        width: 100%; }
        #container #main #amelioration .content {
          padding: .3em; }
          #container #main #amelioration .content #diponible {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; }
          #container #main #amelioration .content .panel {
            width: 49%;
          }
          #container #main #amelioration .content .panel .panel_title{
            font-size: .6em;
          }
}

@media (min-width: 321px) and (max-width: 560px) {

  header a#deconectionLink{
    width: 6em;
    height: 2em;
    margin-top: .1em;
    font-size: .8em;
    line-height: .7em;

  }

  #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #container #zone_gauche {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      #container #zone_gauche .panel {
        width: 49%; }
        #container #zone_gauche .panel .panel_title {
          font-size: .8em;
          height: 1.5em;
          line-height: .8em;
          padding: .2em; }
        #container #zone_gauche .panel .panel_content {
          margin: .2em; }
          #container #zone_gauche .panel .panel_content > p {
            margin-left: 1em;
            font-size: 1em; }
          #container #zone_gauche .panel .panel_content .progress {
            height: 1em; }
            #container #zone_gauche .panel .panel_content .progress .progress-bar {
              height: .9em; }
              #container #zone_gauche .panel .panel_content .progress p {
                line-height: 1.2em;
                font-size: .9rem; }
          #container #zone_gauche .panel .panel_content a.btn-right {
            margin: .5em;
            padding: .2em;
            height: 2em;
            font-size: .8em; }
          #container #zone_gauche .panel .panel_content span {
            margin-top: .8em;
            margin-left: .5em;
            font-size: .9em; }
    #container #main {
      width: 100%;
      padding: .4em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #container #main #animation {
        width: 100%;
        height: 40vw;
        margin-bottom: .4em; }
      #container #main #amelioration {
        width: 100%; }
        #container #main #amelioration .content {
          padding: .3em; }
          #container #main #amelioration .content #diponible {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; }
          #container #main #amelioration .content .panel {
            width: 49%;
          }
            #container #main #amelioration .content .panel .panel_title{
              font-size: .7em;
            }
}

@media (min-width: 561px) and (max-width: 790px) {
  #container #zone_gauche {
    width: 33%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    #container #zone_gauche .panel {
      width: 100%; }
      #container #zone_gauche .panel .panel_title {
        font-size: 1em;
        height: 2em;
        line-height: 1.4em;
        padding: .2em; }
      #container #zone_gauche .panel .panel_content {
        margin: .2em; }
        #container #zone_gauche .panel .panel_content p {
          font-size: 1em; }
        #container #zone_gauche .panel .panel_content .progress {
          height: 1.3em; }
          #container #zone_gauche .panel .panel_content .progress .progress-bar {
            height: 1.2em; }
            #container #zone_gauche .panel .panel_content .progress p {
              line-height: 1.4em;
              font-size: .8rem; }
        #container #zone_gauche .panel .panel_content a.btn-right {
          margin: .2em;
          padding: .15em;
          height: 2em;
          line-height: 1.5em;
          font-size: .9em; }
        #container #zone_gauche .panel .panel_content span {
          margin-top: .9em;
          font-size: .75em; }
  #container #main {
    width: 100%;
    padding: .4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #container #main #animation {
      width: 100%;
      height: 40vw;
      margin-bottom: .4em; }
    #container #main #amelioration {
      width: 100%; }
      #container #main #amelioration .content {
        padding: .3em; }
        #container #main #amelioration .content #diponible {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
        #container #main #amelioration .content .panel {
          width: 49%; } }
